 .sports {
   display: flex;
   font-weight: bold;
   flex-direction: column;
   align-items: center;
   position: absolute;
   flex-wrap: nowrap;
   margin-left: 2px;
   margin-top: 70px;
   margin-bottom: auto;
   background-image: url("sports-day.jpg");
   background-repeat: repeat;
   background-size: 50% 100%;
   width: 25%;
   height: 30%;
   border: 3px solid black;
   padding: 2px;
 }

.sportsHeader,
.sportsDescriptionLabel,
.sportsDateLabel {
  flex: 2;
  background-color: rgba(255, 255, 255, 0.5);
}

 .awards {
   display: flex;
   font-weight: bold;
   flex-direction: column;
   align-items: center;
   position: absolute;
   flex-wrap: nowrap;
   margin-left: 1400px;
   margin-top: 70px;
   margin-bottom: auto;
   background-image: url("Awardsday.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   width: 25%;
   height: 30%;
   border: 3px solid black;
   padding: 2px;
 }

 .awardsHeading,
 .awardsDescriptionLabel,
 .awardsDateLabel {
   flex: 2;
   background-color: rgba(255, 255, 255, 0.5);
 }

 .farewell {
   display: flex;
   font-weight: bold;
   flex-direction: column;
   align-items: center;
   position: absolute;
   flex-wrap: nowrap;
   margin-left: 495px;
   margin-top: 282px;
   background-image: url("Farewell.jpg");
   background-repeat: repeat;
   background-size: 50% 100%;
   width: 45%;
   height: 35%;
   border: 3px solid black;
   padding: 2px;
 }

 .farewellHeading,
 .farewellDescriptionLabel,
 .farewellDateLabel {
   flex: 2;
   background-color: rgba(255, 255, 255, 0.5);
 }

 .enrichment {
   display: flex;
   font-weight: bold;
   flex-direction: column;
   align-items: center;
   position: absolute;
   flex-wrap: nowrap;
   margin-left: 2px;
   margin-top: 545px;
   margin-bottom: auto;
   background-image: url("Enrichment.png");
   background-size: 50% 100%;
   width: 25%;
   height: 30%;
   border: 3px solid black;
   padding: 2px;
 }

 .enrichmentHeading,
 .enrichmentDescriptionLabel,
 .enrichmentDateLabel {
   flex: 2;
   background-color: rgba(255, 255, 255, 0.5);
 }

 .trips {
   display: flex;
   font-weight: bold;
   flex-direction: column;
   align-items: center;
   position: absolute;
   flex-wrap: nowrap;
   margin-left: 1400px;
   margin-top: 545px;
   margin-bottom: auto;
   background-image: url("Trips.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   width: 25%;
   height: 30%;
   border: 3px solid black;
   padding: 2px;
}

.tripsHeading,
.tripsDescriptionLabel,
.tripsDateLabel {
  flex: 2;
  background-color: rgba(255, 255, 255, 0.5);
}
