.container1 {
  display: flex;
  width: 31%;
  flex-wrap: nowrap;
  border: 3px solid black;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.container2 {
  display: flex;
  width: 14%;
  border: 3px solid black;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.container3 {
  display: flex;
  width: 99%;
  color: white;
  border: 3px solid black;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.aboutUs,
.registration,
.contactUs {
  flex: 1;
  background: black;
  padding: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
}

.socialLinksHeading{
  display: flex;
  width: 7%;
  flex-wrap: nowrap;
  border: 3px solid black;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.socialLinks {
  display: flex;
  width: 99%;
  border: 3px solid black;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.facebook,
.yellowPages,
.pathFinda {
  flex: 1;
  background: black;
  padding: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
}

.Website {
  display: flex;
  flex-wrap: nowrap;
}

a{
  color: orange;
}

video {
  display: block;
  margin: 0 auto;
}
